@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

 /* reset the browser style sheet  */
 /* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  font-family: 'Inter', sans-serif;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* start the css from here */

.body_container{
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 112px;

  padding: 0 24px;
}



/* header section  */


.header_container{
  display: flex;
  gap: 112px;
  justify-content: center;
  align-items: center;
  max-width: 606px;
  margin-top: 64px;

}

.nav_wrapper{
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.nav_item{
    padding: 12px 24px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}

.nav_item:active,
.nav_item:hover{
  color: rgba(0, 0, 0, 0.6);
}


/* main section  */

.main_container, .footer_container{
   /* border: 1px solid red; */

   display: flex;
   flex-direction: column;
   gap: 112px;
   justify-content: center;
   max-width: 606px;
   margin: 0 auto;
}


/* button  */
.button{
    display: flex;
    align-items: center;
    gap: 4px;
}


/* about wrapper  */
.about_wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    /* border: 1px solid red; */
}

.user_image{
    width: 100px;
    height: auto;
    border-radius: 50%;
}

.image_wrapper{
  position: relative;
  
}

.celebrate{
  position: absolute;
  right: 0;
  bottom: 0px;

  padding: 8px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 16px 24px rgba(0, 0, 0, 0.12);
}

.projects_container{
  /* border: 1px solid rebeccapurple; */
  

  display: flex;
  flex-direction: column;
  gap: 32px;
}

.projects_wrapper{
  /* border: 1px solid rebeccapurple; */
  display: flex;
  /* flex-direction: column-reverse; */
  justify-content: flex-start;
  
  gap: 32px;
}

.project_content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;

  max-width: 380px; 
  /* maximum chai yesko width 420 hunu parxa tya dekhi dheraii hunu hudaina */

  min-width: 320px;
  /* minimun chai 320 hunai parne ... tya bhanda kaam huna payena  */
}

.intro{
color: rgba(0, 0, 0, 0.38);
font-weight: 400;
font-size: 12px;
line-height: 16px;
letter-spacing: 0.4px;
}

.project_title{
font-weight: 500;
font-size: 17px;
line-height: 24px;
color: rgba(0, 0, 0, 0.87);
}

.project_subtitle{
color: rgba(0, 0, 0, 0.6);
font-weight: 400;
font-size: 17px;
line-height: 24px;
}


 /* contact section  */

 .footer_container{
  display: flex;
  flex-direction: column;

 }

 .box_container{
  background: rgba(128, 128, 128, 0.05);
border-radius: 24px;
max-width: 606px;
min-height: 192px;
padding: 24px;

display: flex;
justify-content: space-between;
 }


 input{
  background: #FFFFFF;
  border-radius: 8px;
  outline: none;
  border: none;
  padding: 12px 16px;
 }

 .contact_button{
  border: 1px solid #E7E7E7;
border-radius: 12px;
cursor: pointer;

 }


 .footer_wrapper, .social_wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
 }

 .footer_container_email_image{
  display: block;
 }

 a {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
 }

 @media only screen and (max-width: 600px) {
 
  .projects_wrapper{
    flex-direction: column-reverse;
  }

  .footer_container_email_image{
    display: none;
   }
}
